<html>
<head>
    <title>Nuwan Chathuranga</title>

    <!-- Compiled and minified CSS -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <style type="text/css">

        .card {
            display: inline-block;
        }


    </style>
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Shopping Page</a>

    </div>
</nav>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large red " id="make-payment">
        <i class="large material-icons tooltipped" data-position="top" data-delay="50" data-tooltip="Make a Payment">payment</i>
    </a>
</div>

<div class="row">
    <form action="{{ path('payment') }}" method="post" id="shopping-form">

        <div class="col s12 cards-container">
            {% for item in items %}
                <div class="col s12 m4">
                    <div class="card horizontal small">
                        <div class="card-image">
                            <img src="{{ item.imageUrl }}" width="200px" height="auto"
                                 style="width: auto; height: auto">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p class="card-title"> {{ item.name }}</p>
                                <p class="card-title"> $ {{ item.price }}</p>

                            </div>
                            <div class="card-action">
                                <p>
                                    {{ item.description }}
                                </p>
                                <p>
                                    <input name="shopping[item][{{ item.id }}]" type="number" min="0" max="10"
                                           value="0"  item-id="{{ item.id }}"/>
                                    <input name="shopping[addToCart][{{ item.id }}]" type="checkbox"
                                           id="item{{ item.id }}" item-name="{{ item.name }}" item-desc="{{ item.description }}"
                                           item-url="{{ item.imageUrl }}" item-price="{{ item.price }}"
                                           item-id="{{ item.id }}"
                                    />
                                    <label for="item{{ item.id }}">Add to Cart</label>
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
</div>

<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

<!-- Modal Structure -->
<div id="selected-item-popup" class="modal modal-fixed-footer">
    <div class="modal-content">

        <h4>Item Selected</h4>

        <ul class="collection" id="item-list-collection">

        </ul>

    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="pay-with-stripe">Pay</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="">Cancel</a>
    </div>
</div>


<script type="text/javascript">

    var handler = StripeCheckout.configure({
        key: 'pk_test_qCmzfq9sfJ8UdfOmBiJ030SL',
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function(token) {
            // You can access the token ID with `token.id`.
            // Get the token ID to your server-side code for use.
        }
    });

    $(document).ready(function () {
        $('.tooltipped').tooltip({delay: 50});
        var fullAmount = 0.00;

        $('#make-payment').click(function () {
            fullAmount = 0.00;
            var itemString= '<li class="collection-item avatar"><img src="IMAGEURL" alt="" class="circle"><span class="title">ITEMNAME</span><p>ITEMDESCRIPTION</p><p><b>PRICECAL</b></p><a href="#!" class="secondary-content">SUBTOTAL</a> </li>'
            var totalString= '<li class="collection-item avatar"><span class="title"><b>Total</b></span><a href="#!" class="secondary-content">TOTAL</a> </li>'

            var selectedItems =[];
            var itemQty = [];
            $('#shopping-form *').filter(':input[type=number]').each(function(index, element){
                var itemId = $(element).attr('item-id');
                var qty = $(element).val();
                itemQty[itemId] =qty;
            });

            var list = '';
            var total = 0.00;
            $('#shopping-form *').filter(':input[type=checkbox]').each(function(index, element){

                if($(element).is(':checked')){
                    var temp = itemString;
                    temp = temp.replace('IMAGEURL',$(element).attr('item-url') );
                    temp = temp.replace('ITEMNAME',$(element).attr('item-name') );
                    temp = temp.replace('ITEMDESCRIPTION',$(element).attr('item-desc') );
                    var price = parseFloat(itemQty[$(element).attr('item-id')]) * parseFloat($(element).attr('item-price'));
                    temp = temp.replace('PRICECAL','$ '+ $(element).attr('item-price') + ' X '+itemQty[$(element).attr('item-id')]);
                    temp = temp.replace('SUBTOTAL',price.toFixed(2));
                    list = list+ temp;
                    total= total+ price;
                }

            });
            if(list==''){
                list = "No Item Selected"
            }else{
                list = list+totalString.replace('TOTAL', parseFloat(total).toFixed(2));
            }
            fullAmount = parseFloat(total.toFixed(2));
            $('#item-list-collection').html(list);
            $('#selected-item-popup').modal();
            $('#selected-item-popup').modal('open');

//           $('#shopping-form').submit();
        });

        $('#pay-with-stripe').click(function(e){

            handler.open({
                name: 'Nuwan Demo',
                description: 'Items to pay',
                amount: fullAmount
            });
            console.log(fullAmount);
            e.preventDefault();
        });
    });

    window.addEventListener('popstate', function() {
        handler.close();
    });

</script>
</body>
</html>